.DS_Store
.idea
.tags
.tags1
*.iml
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.swp
*.tmlanguage.cache
*.tmPreferences.cache
*~
/log/*
/node_modules
/tmp/*
/yarn-error.log
coverage
dist
npm-debug.log
errors.lst
tags
.history
.vscode
.husky
