/* -------------------------------- elements -------------------------------- */

.share-button--text {
  flex: 1 1 0;
}

/* ------------------------------- button full ------------------------------ */

.share-button--full {
  position: relative;
  border-width: 1px;
  border-style: solid;
  font-weight: normal;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  flex: 1;
  height: 56px;
  color: white !important;
  text-decoration: none;
}

.share-button--full-icon-wrapper {
  border-radius: 50%;
  border: 1px solid #fff;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -2px;
}

.share-button--full .share-button--icon {
  width: 25px;
  height: 25px;
}

.share-button--full .share-button--text {
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px 0 10px;
}

/* ----------------------------- button minimal ----------------------------- */

.share-button--minimal {
  font-weight: normal;
  padding: 3px 8px;
  display: flex;
  align-items: flex-end;
  background-color: transparent !important;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  width: 100px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.share-button--minimal .share-button--icon {
  width: auto;
  height: 16px;
  margin-right: 10px;
}

/* ------------------------------ button round ------------------------------ */

.share-button--round {
  padding: 0;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  border-radius: 50%;
  border: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.share-button--round-with-label {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ------------------------------ button square ----------------------------- */

.share-button--square {
  padding: 0;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  transition: border 0.1s ease;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

/* ---------------------------- network modifier ---------------------------- */

.share-button--email {
  color: #6D2C64;
  border-color: #6D2C64;
  background-color: #6D2C64;
}

.share-button--email:hover,
.share-button--email:focus
.share-button--email:active {
  color: #612058;
  border-color: #612058;
  background-color: #612058;
}

.share-button--facebook {
  color: #1877F2;
  border-color: #1877F2;
  background-color: #1877F2;
}

.share-button--facebook:hover,
.share-button--facebook:focus,
.share-button--facebook:active {
  color: #0E69E0;
  border-color: #0E69E0;
  background-color: #0E69E0;
}

.share-button--facebook-messenger {
  color: #0084ff;
  border-color: #0084ff;
  background-color: #0084ff;
}

.share-button--facebook-messenger:hover,
.share-button--facebook-messenger:focus,
.share-button--facebook-messenger:active {
  color: #0070eb;
  border-color: #0070eb;
  background-color: #0070eb;
}

.share-button--telegram {
  color: #0087cb;
  border-color: #0087cb;
  background-color: #0087cb;
}

.share-button--telegram:hover,
.share-button--telegram:focus,
.share-button--telegram:active {
  color: #0073b7;
  border-color: #0073b7;
  background-color: #0073b7;
}

.share-button--twitter {
  color: #48aae5;
  border-color: #48aae5;
  background-color: #48aae5;
}

.share-button--twitter:hover,
.share-button--twitter:focus,
.share-button--twitter:active {
  color: #3496d1;
  border-color: #3496d1;
  background-color: #3496d1;
}

.share-button--whatsapp {
  color: #128C7E;
  border-color: #128C7E;
  background-color: #128C7E;
}

.share-button--whatsapp:hover,
.share-button--whatsapp:focus,
.share-button--whatsapp:active {
  color: #097C6F;
  border-color: #097C6F;
  background-color: #097C6F;
}

.share-button--share-link {
  color: #4e414b;
  border-color: #4e414b;
  background-color: #4e414b;
}

.share-button--share-link:hover,
.share-button--share-link:focus,
.share-button--share-link:active {
  color: #3a2d37;
  border-color: #3a2d37;
  background-color: #3a2d37;
}

.share-button--instagram {
  color: #e1306c;
  border-color: #e1306c;
  background-color: #e1306c;
}

.share-button--instagram:hover,
.share-button--instagram:focus,
.share-button--instagram:active {
  color: #cd1c58;
  border-color: #cd1c58;
  background-color: #cd1c58;
}

.share-button--box-shadowed {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px;
}

.share-button--box-shadowed:focus,
.share-button--box-shadowed:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px, 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1) inset;
}

/* position: relative
  border: 1px solid ${props => props.color}
  font-weight: normal
  padding: 0
  display: flex
  align-items: center
  background-color: ${props => props.color}
  border-radius: 50px
  cursor: pointer
  flex: 1
  height: ${fullSize}

  &, &:active, &:hover, &:focus {
    color: #FFF
    text-decoration: none
  }

  &:hover {
    background-color: ${props => props.hoverColor}
  }

  &:active {
    background-color: ${props => props.activeColor}
  }

  &:focus {
    box-shadow: ${props => props.boxShadow ?
      'rgba(0, 0, 0, 0.2) 0px 3px 3px 0px, 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1) inset' :
      '0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1) inset'}
  }

  ${props => props.boxShadow ? 'box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px' : ''}

  div {
    border-radius: 50%
    border: 1px solid #FFF
    height: 56px
    width: 56px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    left: -2px

    svg {
      width: 25px
      height: 25px
    }
  }

  span {
    flex: 1 1 0
    font-size: 18px
    font-weight: 600
    padding: 0 20px 0 10px
  } */
